/********************************************/
/*| container  |*/
/********************************************/
.container{
	padding: 2px;
	height: 300px;
	flex-wrap: wrap;
	max-width: 400px;
}
/********************************************/
/*| flex-derection  |*/
/********************************************/
.row{
	flex-direction: row;
}
.row-reverse{
	flex-direction: row-reverse;
}
.colomn{
	flex-direction: column;
}
.colomn-reverse{
	flex-direction: column-reverse;
}
/********************************************/
/*| row  |*/
/********************************************/
.wrap{
	flex-wrap: wrap;
}
.nowrap{
	flex-wrap: nowrap;
}
.wrap-reverse{
	flex-wrap: wrap-reverse;
}
/********************************************/
/*| align-content  |*/
/********************************************/
.stretch{
	align-content: stretch;
}
.flex-start{
	align-content: flex-start;
}
.center{
	align-content: center;
}
.flex-end{
	align-content: flex-start;
}
.space-between{
	align-content: space-between;
}
.space-around{
	align-content: space-around;
}