/********************************************/
/*| reset  |*/
/********************************************/
*{
	margin: 0;
	padding: 0;
	color: #fff;
	border: none;
	outline: none;
	font-family: Arial;
	box-sizing: border-box;
	background-color: #000;
}
h2{
	font-weight: 300;
	font-style: italic;
	text-align: center;
}
/********************************************/
/*| Header  |*/
/********************************************/
.header{
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	position: fixed;
	padding: 10px 20px;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid tomato;
}
.header button{
	padding: 10px;
	font-size: 1em;
	cursor: pointer;
	font-weight: 700;
	border-radius: 5px;
	border: 1px solid #fff;
	background-color: tomato;
	transition: color, background-color 1s;
}
.header button:hover{
	color: tomato;
	background-color: #fff;
}
.header h1{
	color: tomato;
}
/********************************************/
/*| main  |*/
/********************************************/
.main{
	margin-top: 100px;
}
/********************************************/
/*| container  |*/
/********************************************/
.container{
	padding: 2px;
	display: flex;
	margin: 0 auto;
	max-width: 400px;
	margin-bottom: 50px;
	border:1px solid #fff;
}
/********************************************/
/*| flex-item  |*/
/********************************************/
.item{
	flex: 1;
	margin: 5px;
	text-align: center;
	border:1px solid #fff;
	background-color: tomato;
}