/********************************************/
/*| reset  |*/
/********************************************/
*{
	margin: 0;
	padding: 0;
	color: #fff;
	border: none;
	outline: none;
	font-family: Arial;
	background-color: #000;
}
h1{
	text-align: center;
}
h2{
	font-weight: 300;
	text-align: center;
}
ul, li {
	list-style: none;
}
a{
	text-decoration: none;
}
/********************************************/
/*| Header  |*/
/********************************************/
.header{
	display: flex;
	padding: 10px;
	text-align: center;
	justify-content: center;
	border-bottom: 2px solid tomato;
}

/********************************************/
/*| principal  |*/
/********************************************/
.principal{
	padding: 10px;
	display: flex;
	margin: 0 auto;
	max-width: 800px;
	min-height: 90vh;
	justify-content: space-between;
}
/********************************************/
/*| container  |*/
/********************************************/
.container{
	width: 50%;
	margin: 10px;
	display: flex;
	padding: 10px;
	flex-direction: column;
}
.container h2{
	padding: 5px;
	font-size: 2em;
	text-align: center;
	margin-bottom: 20px;
	border: 2px dashed #fff;

}
.container li a{
	padding: 10px;
	display: block;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 10px;
	border: 1px solid #fff;
	background-color: tomato;
	transition: background 1s;
}
.container li a:hover{
	color: #124;
	background-color: #fff;
}
