/********************************************/
/*| container  |*/
/********************************************/
.container{
	min-height:100px; 
	max-width: 400px;
}
/********************************************/
/*| flex-direction  |*/
/********************************************/
.row{
	flex-direction: row;
}
.row-reverse{
	flex-direction: row-reverse;
}
.colomn{
	flex-direction: column;
}
.colomn-reverse{
	flex-direction: column-reverse;
}
/********************************************/
/*| jutifly content |*/
/********************************************/
.jflex-star{
	justify-content: flex-start;
}
.jspace-between{
	justify-content: space-between;
}
.jcenter{
	justify-content: center;
}
.jspace-around{
	justify-content: space-around;
}
.jflex-end{
	justify-content: flex-end;
}

/********************************************/
/*| align-itens  |*/
/********************************************/
.flex-stretch{
	align-items: flex-stretch;
}
.flex-start{
	align-items: flex-start;
}
.center{
	align-items:center;
}
.flex-end{
	align-items: flex-end;
}
.space-around{
	justify-content: space-around;
}
.baseline{
	align-items: baseline;
}