*{
	color: #fff;
	font-family: Arial;
	background-color: #000;
}
h1{
	text-align: center;
	text-transform: uppercase;
}
h2{
	font-weight: 300;
	font-style: italic;
	text-align: center;
}
/********************************************/
/*| Header  |*/
/********************************************/
.header{
	display: flex;
	padding: 10px;
	border-bottom: 2px solid #fff;
	justify-content: space-between;
}
.header button{
	padding: 5px;
	cursor: pointer;
	background-color: tomato;
	border: 2px solid #fff;
}
.header button:hover{
	color: tomato;
	background-color: #fff;
}
.header div{
	flex-grow: 2;
	font-size: 2em;
	font-weight: 700;
	text-align: center;
}
/********************************************/
/*| container  |*/
/********************************************/
.container{
	padding: 2px;
	display: flex;
	margin: 0 auto;
	max-width: 400px;
	margin-bottom: 50px;
	border:1px solid #fff;
}
/********************************************/
/*| justify-content  |*/
/********************************************/

.row{
	flex-direction: row;
}
.row-reverse{
	flex-direction: row-reverse;
}
.colomn{
	flex-direction: column;
}
.colomn-reverse{
	flex-direction: column-reverse;
}
/********************************************/
/*| flex-wrap  |*/
/********************************************/

.wrap{
	flex-wrap: wrap;
}
.nowrap{
	flex-wrap: nowrap;
}
.wrap-reverse{
	flex-wrap: wrap-reverse;
}
/********************************************/
/*| FLEX-ITEM  |*/
/********************************************/
.item{
	margin: 5px;
	text-align: center;
	border:1px solid #fff;
	background-color: tomato;
}
.grow0{
	flex-grow: 0;
}
.grow1{
	flex-grow: 1;
}
.grow2{
	flex-grow: 2;
}
/********************************************/
/*| flex-basis  |*/
/********************************************/
.basis-auto{
	flex-grow: 1;
	flex-basis: auto;
}