/********************************************/
/*| FLEX-ITEM  |*/
/********************************************/
.item{
	margin: 5px;
	text-align: center;
	border:1px solid #fff;
	background-color: tomato;
}
.grow0{
	flex-grow: 0;
}
.grow1{
	flex-grow: 1;
}
.grow2{
	flex-grow: 2;
}
/********************************************/
/*| flex-basis  |*/
/********************************************/
.basis-auto{
	flex-grow: 1;
	flex-basis: auto;
}