/********************************************/
/*| flex-direction |*/
/********************************************/
.row{
	flex-direction: row;
}
.row-reverse{
	flex-direction: row-reverse;
}
.colomn{
	min-height: 300px;
	flex-direction: column;
}
.colomn-reverse{
	flex-direction: column-reverse;
}
/********************************************/
/*| jutifly content| */
/********************************************/
.flex-star{
	justify-content: flex-start;
}
.space-between{
	justify-content: space-between;
}
.center{
	justify-content: center;
}
.space-around{
	justify-content: space-around;
}
.flex-end{
	justify-content: flex-end;
}
/********************************************/
/*| flex item |*/
/********************************************/
.item {
	padding: 5px;
	flex: 0 !important;
}