/********************************************/
/*| reset  |*/
/********************************************/
*{
	color: #fff;
	font-family: Arial;
	background-color: #000;
}
h1{
	text-align: center;
}
h2{
	font-weight: 300;
	font-style: italic;
	text-align: center;
	margin-top: 70px;
}
/********************************************/
/*| Header  |*/
/********************************************/
.header{
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	padding: 10px;
	position: fixed;
	border-bottom: 2px solid #fff;
	justify-content: space-between;
}
.header button{
	padding: 5px;
	cursor: pointer;
	background-color: tomato;
	border: 2px solid #fff;
}
.header button:hover{
	color: tomato;
	background-color: #fff;
}
.header div{
	flex-grow: 2;
	font-size: 2em;
	font-weight: 700;
	text-align: center;
}

/********************************************/
/*| container  |*/
/********************************************/
.container{
	padding: 2px;
	display: flex;
	margin: 0 auto;
	max-width: 400px;
	border:1px solid #fff;
}
/********************************************/
/*| flex-direction |*/
/********************************************/
.row{
	flex-direction: row;
}
.row-reverse{
	flex-direction: row-reverse;
}
.colomn{
	min-height: 300px;
	flex-direction: column;
}
.colomn-reverse{
	flex-direction: column-reverse;
}
/********************************************/
/*| flew-wrap |*/
/********************************************/
.wrap{
	flex-wrap: wrap;
}
.nowrap{
	flex-wrap: nowrap;
}
.wrap-reverse{
	flex-wrap: wrap-reverse;
}
/********************************************/
/*| flex-grow |*/
/********************************************/
.flex-grow{

}
/********************************************/
/*| jutifly content| */
/********************************************/
.flex-star{
	justify-content: flex-start;
}
.space-between{
	justify-content: space-between;
}
.center{
	justify-content: center;
}
.space-around{
	justify-content: space-around;
}
.flex-end{
	justify-content: flex-end;
}
/********************************************/
/*| flex item |*/
/********************************************/
.item{
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: tomato;
}