/********************************************/
/*| flex-direction  |*/
/********************************************/
.row{
	flex-direction: row;
}
.row-reverse{
	flex-direction: row-reverse;
}
.colomn{
	flex-direction: column;
}
.colomn-reverse{
	flex-direction: column-reverse;
}
/********************************************/
/*| flex-wrap  |*/
/********************************************/
.nowrap{
	flex-wrap: nowrap;
}
.wrap{
	flex-wrap: wrap;
}
.wrap-reverse{
	flex-wrap: wrap-reverse;
}
